.QuestionsContainer {
  display: flex;
  flex-direction: column;
}

.QuestionsContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 2rem;
  align-items: flex-start;
  max-width: 40rem;
}

.TitleContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.selectedOption {
  background-color: var(--green);
}

.unselectedOption {
  color: #ccc; /* cor cinza */
}

.GrupResponse {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.ResponseQuestion {
  background-color: var(--green);
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border: none;
}

.GrupButtons {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}

.GrupNexTBack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--white);
  transition: color 0.2s;
  padding: 0.5rem;
  background-color: var(--green);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.GrupNexTBack:hover {
  background-color: var(--blue);
  color: var(--white);
}
