:root {
  --blue: #3e98d4;
  --dark-blue: #32487b;
  --green: #15e7c4;
  --white: #ffffff;
  --ice: #f8fafc;
  --ice-secundary: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark-blue);
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
